.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-component {
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    color: white;
    border: 1px transparent;
    border-radius: 1rem;
  }
}

.modal-part {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;

  .modal-wrapper {
    color: white;
    background-color: #e94b35;
    width: 50rem;
    border: 1px transparent;
    border-radius: 3rem;

    .header-part-modal {
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #d64531;
      border-radius: 3rem;
      .header-of-modal {
        font-size: 5.5rem;
      }
    }

    .modal-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .text-of-modal {
        margin-top: 2rem;
        font-size: 3rem;
        max-width: 40rem;
      }

      .actions-of-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        .modal-action-buttons {
          font-size: 2rem;
          margin: 1rem;
          padding: 1rem;
          cursor: pointer;
          border: 1px transparent;
          width: 20rem;
          padding: 1rem;
          border-radius: 3rem;
        }
      }
    }
  }
}

.modal-action-buttons:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffd4a9;
}

#continue:hover {
  background-color: #a7f2ff;
}

.modal-close-button {
  margin-left: 2rem;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  cursor: pointer;
  border: 0px transparent;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}

.modal-close-button:hover {
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
  background-color: black;
}
