.product-welcome {
  user-select: none;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  h1 {
    font-family: "Against", sans-serif;
  }
}