* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.post-card {
  padding: 2rem;
  border: 2px solid #e1e8ed;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 80rem;
  display: flex;
  align-items: center;
}

.post-content {
  font-size: 2rem;
  width: 47rem;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 4rem;
}

.user-name {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-card:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.delete-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  display: block;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.delete-button:hover {
  background-color: rgba(255, 44, 44, 0.487);
  border: none;
  cursor: pointer;
}

.post-info {
  flex-grow: 1;
}
