.buttons {
  display: flex;
  align-items: center;

  .button-component {
    cursor: pointer;
    margin-left: 1.6rem;
    font-size: 1.4rem;
    padding: 1.2rem;
    text-align: center;
    border: 1px transparent;
    border-radius: 2rem;
    color: white;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  }
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px transparent;
    background-color: transparent;
    color: black;
    font-size: 3.2rem;
    line-height: 1;
    margin-left: 1rem;
    border-radius: 50%;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  }
}