@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin navbar-style {
  color: $main-black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  margin: 5rem;
  list-style: none;
  text-transform: uppercase;
}
@mixin social-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

@mixin mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
